<nav class="links">
<a title="RSS Feed" href="/rss/"><i class="fa fa-fw fa-rss-square"></i></a>
       <a title="Twitter" href="https://twitter.com/braddmagyar"><i class="fa fa-fw fa-twitter-square"></i></a>
      <a title="Facebook" href="https://www.facebook.com/braddmagyar"><i class="fa fa-fw fa-facebook"></i></a>
        <a title="GitHub" href="https://github.com/therecluse26"><i class="fa fa-fw fa-github-square"></i></a>
</nav>
